@import 'fonts';
@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: var(--dark);
  --color-light: var(--light);
  --color-primary: var(--primary);
  --color-dark-card: var(--dark-card);
  --color-light-card: var(--light-card);
  --color-dark-second-level: var(--dark-second-level);
  --color-light-second-level: var(--light-second-level);
}

@layer components {
  body {
    @apply bg-light dark:bg-dark;
  }

  section {
    @apply w-full flex flex-col gap-4;

    &:not(.intro) {
      @apply max-w-4xl md:px-2 px-4;
    }
  }

  h2 {
    @apply md:text-4xl text-2xl font-bold dark:text-gray-100 text-gray-800;

    span {
      @apply italic;
    }
  }

  h3 {
    @apply md:text-2xl text-lg font-semibold capitalize dark:text-gray-200 text-gray-700;
  }
}